:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --header-background: #242226;
  --color-dark: #1b1a1d;
  --color-light: #dedede;
  --rose: #f72585ff;
  --rose-hover: #e90069;
  --rose-active: #d40260;
  --grape: #7209b7ff;
  --zaffre: #3a0ca3ff;
  --neon-blue: #4361eeff;
  --neon-blue-hover: #5b79ff;
  --button-dark: #2c2a2e;
}

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  src: url('../public/SpaceGrotesk.ttf');
}

body {
  background: var(--color-dark);
  color: var(--color-light);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; */
  font-family: 'Space Grotesk', monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

a {
  color: var(--color-light);
}

img {
  border-radius: 4px;
}

.model-viewer {
  width: 400;
  height: 400;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-dark);

  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 20px;
  &:hover {
    opacity: 1;
  }
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
  &:last-child {
    margin: 0;
  }
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay {
  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  /* reveal aside */
  &:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
  }
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: var(--header-background);
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
  color: var(--color-light);
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  height: 50px;
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}

.discount-apply {
  height: 36px;
  width: 72px;
  border-radius: 4px;
  background-color: var(--neon-blue);
  font-weight: 600;
  font-size: 1.2rem;
}

.aside-remove-btn {
  height: 24px;
  width: 72px;
  border-radius: 4px;
  background-color: var(--rose);
}

.sub-btn {
  width: 25px;
  border-radius: 4px;

  background-color: var(--button-dark);
}
.add-btn {
  width: 25px;
  border-radius: 4px;
  background-color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-dark);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

/*
* --------------------------------------------------
* assorted components
* --------------------------------------------------
*/

.button-reset {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.add-to-cart-button {
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  background-color: var(--rose);
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 12px;
}

.add-to-cart-button:hover {
  background-color: var(--rose-hover);
}

.learn-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  border-radius: 4px;
  height: 36px;
  width: 110px;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.learn-more-content:hover {
  text-decoration: none;
}

.learn-more-content:active {
  opacity: 0.75;
}

.product-section {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1140px;
  margin: 36px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.customize-and-add-to-cart-container {
  background-color: #28262b;
  padding: 24px;
  max-width: 400px;
}

.variation-option {
  margin-bottom: 24px;
}

.action-buttons {
  width: 100%;
}

.add-to-cart-button {
  height: 42px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--rose);
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 12px;
}

.tech-specs-section {
  width: 100%;
  height: 400px;
  background: url('../assets/trianglePattern2.png');
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px 6px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 6px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 6px 18px 0px rgba(0, 0, 0, 0.75);
}

/*  tablet responsive */

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .product-info-container {
    margin-bottom: 36px;
  }
  .customize-and-add-to-cart-container {
    align-self: stretch;
    max-width: 800px;
  }
}

/* mobile responsive */

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
    flex-direction: column;
  }

  .customize-and-add-to-cart-container {
    min-width: 240px;
  }
}

/*
* --------------------------------------------------
* Main Menu Scene
* --------------------------------------------------
*/

.index-container {
  height: calc(100vh - var(--header-height) - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: black;
  /* background-image: url('../assets/home_backdrop.jpg'); */
  background-size: cover;
  background-position: center;
  position: relative;
}

.main-card-column {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
  max-width: 35%;
  min-width: 440px;
  margin-right: 2rem;
  @media screen and (max-width: 1180px) {
    top: unset;
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-right: 0;
    align-items: center;
    min-width: 0;
    max-width: none;
    margin-bottom: 2rem;
  }
  @media screen and (max-width: 790px) {
    margin: 0;
    padding: 0;
  }
}

.main-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  @media screen and (max-width: 790px) {
    margin: 0;
    padding: 0;
  }
}

.main-card {
  background-color: #1b1a1d;
  padding: 0 2rem 2rem;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 790px) {
    border-radius: 0;
    margin: 0;
    padding: 0 0.8rem;
  }
}

.main-card-button-container {
  display: flex;
  @media screen and (max-width: 790px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-card-button {
  padding: 0.25rem 0.5rem;
  color: var(--color-light);
  background-color: var(--button-dark);
}

.main-card-next {
  border-radius: 0 25px 25px 0;
  display: flex;
  align-items: center;
}

.main-card-next:hover,
.main-card-prev:hover,
.main-card-quick:hover,
.main-card-view:hover {
  background-color: #77717e90;
}

.cta-button {
  background-color: var(--rose);
  border-radius: 16px;
  margin-right: 0.5rem;
  padding: 0.25rem 0.7rem;
  @media screen and (max-width: 790px) {
    margin-bottom: 1rem;
  }
}

.cta-button:hover {
  background-color: var(--rose-hover);
}

.cta-button:active {
  background-color: var(--rose-active);
}

.main-card-prev {
  border-radius: 25px 0 0 25px;
  display: flex;
  align-items: center;
}

.main-card-quick {
  display: flex;
  align-items: center;
}

.main-card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 6px;
  margin-left: 6px;
}

.main-card-footer-btns {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.collection-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--header-background);
  border-radius: 15px;
  color: white;
  transition: 0.25s;
}
.collection-card-container:hover {
  scale: 1.05;
  transition: 0.25s;
}
.collection-card-image {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 24px;
  border-radius: 10px;
}

.collections-card-atc-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: var(--neon-blue);
  font-weight: 400;
  font-size: 1rem;
  /* margin-top: 5px; */
  color: white;
}
.collections-card-atc-btn:hover {
  background-color: var(--neon-blue-hover);
}

.collection-grid {
  display: grid;
  align-self: center;
  gap: 64px;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 48px;
  @media (max-width: 1570px) {
    grid-template-columns: auto auto auto;
  }
  @media (max-width: 1180px) {
    grid-template-columns: auto auto;
  }
  @media (max-width: 790px) {
    grid-template-columns: auto;
  }
}

.link-hover:hover {
  text-decoration: none;
}

/* Contact page */

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  @media (max-width: 768px) {
    margin-top: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--header-background);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 12px;
  border-radius: 15px;
  width: 80dvw;
  @media (max-width: 768px) {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* Product Page Carousel */

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-slide {
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  height: auto;
  object-fit: cover;
  max-height: 500px;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
  }
  @media (min-width: 768px) {
    width: 90%;
  }
  @media (min-width: 1024px) {
    width: 90%;
  }
  @media (min-width: 1280px) {
    width: 90%;
  }
  @media (min-width: 1536px) {
    width: 90%;
  }
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
  color: var(--color-light);
  background-color: var(--button-dark);
  padding: 0.25rem 0.5rem;
  display: flex;
}

.carousel-prev-button {
  left: 10px;
  @media (min-width: 768px) {
    left: -8px;
  }
}

.carousel-next-button {
  right: 10px;
  @media (min-width: 768px) {
    right: 8px;
  }
}
